In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
import re

In [2]:
stock_path = Path(r"C:\Users\sloth\Desktop\stonks\stonks\data\listing_status.csv")

In [9]:
df.to_csv(r"C:\Users\sloth\Desktop\stonks\stonks\data\cleaned_listings.csv", index=False)

In [4]:
df = pd.read_csv(stock_path)

In [5]:
df["name"][0])

SyntaxError: unmatched ')' (<ipython-input-5-6cf8cff89724>, line 1)

In [7]:
df["fixed_name"]=df["name"].apply(fix_name)

In [ ]:
re.sub(r'(inc|corp|etf|ltd|fund|na|n.a|)?', '', x, flags=re.IGNORECASE)

In [6]:
def fix_name(x):
    
    if not pd.isnull(x):
        subbed_name = re.sub(r'(corporation|inc|corp|etf|ltd|fund|na|n.a|)?', '', x, flags=re.IGNORECASE)
        cleaned_name = subbed_name.split("-")[0].strip()
        return cleaned_name
    return np.nan

In [9]:
text= "VIRT,Virtu Financial Inc Class A"

In [10]:
text.split("-")

['VIRT,Virtu Financial Inc Class A']

In [8]:
df

,symbol,name,exchange,assetType,ipoDate,delistingDate,status,fixed_name
0,A,Agilent Technologies Inc,NYSE,Stock,1999-11-18,NaN,Active,Agilent Technologies
1,AA,Alcoa Corp,NYSE,Stock,2016-11-01,NaN,Active,Alcoa
2,AAA,AAF First Priority CLO Bond ETF,NYSE ARCA,ETF,2020-09-09,NaN,Active,AAF First Priority CLO Bond
3,AAAU,Goldman Sachs Physical Gold ETF,NYSE ARCA,ETF,2018-08-15,NaN,Active,Goldman Sachs Physical Gold
4,AAC,Ares Acquisition Corporation - Class A,NYSE,Stock,2021-03-25,NaN,Active,Ares Acquisition
...,...,...,...,...,...,...,...,...
11031,ZYME,Zymeworks Inc,NYSE,Stock,2017-04-28,NaN,Active,Zymeworks
11032,ZYNE,Zynerba Pharmaceuticals Inc,NASDAQ,Stock,2015-08-05,NaN,Active,Zynerba Pharmaceuticals
11033,ZYXI,Zynex Inc,NASDAQ,Stock,2002-12-31,NaN,Active,Zynex
11034,ZZK,NaN,NYSE ARCA,Stock,2020-07-22,NaN,Active,NaN
11035,ZZZ,TEST TICKER FOR UTP,NYSE ARCA,Stock,2014-10-31,NaN,Active,TEST TICKER FOR UTP